@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

html, body {
  height: 100%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


:root {
  --background: #ffffff;
  --foreground: #171717;

  /* ===== Website Common Theme ===== */

  /* Backgrounds */
  --color-bg-header: #020617;
  --color-bg-dropdown: #020617;
  --color-bg-hover: #0f172a;

  /* Text */
  --color-text-normal: #cbd5f5;
  --color-text-active: #38bdf8;
  --color-text-hover: #7dd3fc;

  /* Accent */
  --color-accent: #38bdf8;
  --color-accent-soft: rgba(56, 189, 248, 0.25);

  /* Shadow */
  --shadow-soft: 0 8px 25px rgba(0,0,0,0.45);
  --shadow-3d: 0 12px 30px rgba(0,0,0,0.6);

  /* Border */
  --border-soft: rgba(255,255,255,0.08);
}


/* ================================= */

.layout { 
  display: flex; 
  gap: 20px;
  height: calc(100vh - 80px); /* header height */
  overflow: hidden;
}

.sidebar-col { 
  width: 20%;
  height: 100%;
  overflow: hidden;
}

.content-col { 
  width: 60%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.ads-col { 
  width: 20%;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .sidebar-col, 
  .ads-col { 
    display: none; 
  }

  .content-col { 
    width: 100%; 
  }
}
