.sidebar {
  position: sticky;
  top: 80px;
  height: calc(100vh - 80px);
  overflow-y: auto;
  scroll-behavior: smooth;

  padding: 10px;
  background: #f0f0f0;
}

.sidebar a {
  display: block;
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
}

.sidebar a:hover {
  background: #2563eb;
  color: white;
}

/* Scrollbar styling */
.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #cbd5f5;
  border-radius: 10px;
}
